@tailwind base;
@tailwind components;
@tailwind utilities;


/* since nested groupes are not supported we have to use 
     regular css for the nested dropdowns 
  */
li>ul {
  transform: translatex(100%) scale(0)
}

li:hover>ul {
  transform: translatex(101%) scale(1)
}

li>button svg {
  transform: rotate(-90deg)
}

li:hover>button svg {
  transform: rotate(-270deg)
}

/* Below styles fake what can be achieved with the tailwind config
     you need to add the group-hover variant to scale and define your custom
     min width style.
  	 See https://codesandbox.io/s/tailwindcss-multilevel-dropdown-y91j7?file=/index.html
  	 for implementation with config file
  */
.group:hover .group-hover\:scale-100 {
  transform: scale(1)
}

.group:hover .group-hover\:-rotate-180 {
  transform: rotate(180deg)
}

.scale-0 {
  transform: scale(0)
}

.min-w-32 {
  min-width: 8rem
}



.sales-overview {
  background-color: white;
  border: 1px solid #ccc; /* Add a grey border */
  border-radius: 8px; /* Add a grey border-radius */
  width: 680px;
  height: 150px;
  margin-left: 20px;
}

.inventory-summary {
  background-color: white;
  border: 1px solid #ccc; /* Add a grey border */
  border-radius: 8px; /* Add a grey border-radius */
  width: 450px;
  height: 150px;
  
}
.Stock-List{
  background-color: white;
  border: 1px solid #ccc; /* Add a grey border */
  border-radius: 8px; /* Add a grey border-radius */
  width: 680px;
  height: 450px;
  margin-left: 20px;

}
.low-quantity{
  background-color: white;
  border: 1px solid #ccc; /* Add a grey border */
  border-radius: 8px; /* Add a grey border-radius */
  width: 450px;
  height: 450px;
  margin-left: 6px;

}

/* Add the necessary styles for the filter button */
.filter-button {
  background-color: white;
  color: grey;
  border: 1px solid grey;
  display: flex;
  align-items: center;
}

/* Optional: Adjust icon size */
.filter-button i {
  font-size: 16px;
}

.logo{
  margin-top: 150px;
}

.employeeButton{

  margin-top: 20px;

}
.employeeTable{

  margin-top: 30px;

}

.labeltoggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.inputtoggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.spantoggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: grey;
  transition: 0.3s;
  border-radius: 30px;
}

.spantoggle:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 3px;
  bottom: 2.6px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.3s;
}

.inputtoggle:checked + .spantoggle {
  background-color: #4169E1;
}

.inputtoggle:checked + .spantoggle:before {
  transform: translateX(29px);
}


.fillteIcon{
  margin-top: 20px;
}